<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Confirmed! You're on the list!</title>
</head>
<body>
	<div class="confirm">
		<h5>You're on the list!</h5>
		<p>Confirmation will be sent to:</p>
		<p><%= @email %></p>
	</div>
</body>
</html>