<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello from a view!</title>
	<style>
	.important-true {
		color: red;
	}
	.done-true {
		text-decoration: line-through;
	}
	</style>
</head>
	<body>
		<p>I'm the result</p>
	</body>
</html>